.semestre{
    width: 100%;
    margin-bottom: 10px;
    user-select: none;
}

.titulo_semestre{
    border: none;
    border-bottom: 1px black solid;
    font-size: 18px;
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
    cursor: pointer;
    
}

.grupo_disciplinas{
    width: 100%;
    transform-origin: top;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
