.semestre{
    width: 90%;
    margin-bottom: 10px;
    user-select: none;
}

.titulo_semestre{
    border: none;
    border-bottom: 1px black solid;
    font-size: 18px;
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
    cursor: pointer;
    
}

.grupo_disciplinas{
    transform-origin: top;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    /* transform: scaleY(1); */
}

/* .fechado{
    display: none;
    transform: scaleY(0);
    transition: all 500ms ease-in;
} */

/* .aberto{
    
} */
