.menu_lateral{
    position: relative;
    height: 100%;
    background-color: green;
    left: -100%;
    transition: all 0.2s ease-in-out;
}

.active {
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    z-index: 1;
}